* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
}

body,
input,
button {
  font: 16px Poppins, sans-serif;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;

  &:before {
    content: "";
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: $gradient-detail;
    top: -10%;
    right: 48%;
    z-index: -1;
    transform: translateY(-50%);
  }
}
